.component {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(var(--window-height) - var(--header-height) - var(--footer-height));
  // padding: 2rem;
  padding: 1.5rem;

  box-sizing: border-box;

  // background-color: rgba(var(--primary-white), 1);
  background-color: rgba(var(--primary-black), 1);
}

.list {
  display: grid;
  justify-content: start;
  grid-row-gap: 2rem;

  margin: 0;
  padding: 0;
  padding-top: 65px;

  list-style: none;
  color: rgba(var(--primary-white),1);
  .nav {
    color: rgba(var(--primary-white),1);
    font-size: 24px;
    // font-family: var(--secondary-font);
    font-weight: normal;
  }
}

.item {
  position: relative;
}
