.footer {
	display: flex;
	padding: 0 1.5rem;
	height: 3.75rem;
	// line-height: 3.75rem;
	background: rgba(var(--primary-white),1);
}

.connect-btn {
	height: 3.75rem;
	margin: 0 auto;

	font-size: 1rem;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}
