.component {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: calc(var(--spacing-unit) * 1);
  justify-content: start;
  align-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

.small {
  grid-column-gap: calc(var(--spacing-unit) * 0.75);
}

.small>img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
}